.pagination {
    margin: 30px 0;
}

.active {
    background-color: rgba(30, 136, 229, 0.6);
    color: black;
}

.pagination-btn:hover {
    background-color: rgba(30, 136, 229, 0.6);
    color: black;
}