body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, Roboto;
}

.container {
    max-width: 1316px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -22px;

}

img {
    width: 100%;
    object-fit: cover;
}

.col-2 {
    width: 25%;
    padding: 0 22px;
    overflow: hidden;
    margin-bottom: 44px;
    position: relative;
}

.catsBtn_container {
    padding: 0 0 30px 0;
    display: flex;
    justify-content: center;
}

.catsBtn {
    border: none;
    padding: 6px;
    color: black;
    background-color: white;
    cursor: pointer;;
}
.icon-container {
    cursor: pointer;
    opacity: 0;
    background: url("./assets/images/fovorite.svg");
    width: 40px;
    height: 36px ;
    position: absolute;
    right: 30px;
    bottom: 30px;
    transition: .8s;
}
.icon-h {
    font-size: 45px;
    color: red;
    display: block;
    transition: .8s;
}
.cats-img {
    transition: .8s;
}
.col-2:hover >.icon-container{
    opacity:1;
}
.col-2:hover >.cats-img{
     background-color: rgba(0,0,0,0.5);
     transform: scaleY(1.2) scaleX(1.2) scaleZ(1.2);
}
.icon-container:hover {
  background: url("./assets/images/coloredHeart.svg");
}


/*****************?******?*********Media queries************/
@media (max-width: 1316px) {
    .container {
        width: 1100px;
    }
}
@media (max-width: 1100px) {
    .container {
        width: 992px;
    }
}
@media (max-width: 992px) {
    .container {
        width: 776px;
    }
}
@media (max-width: 778px) {
    .container {
        width: 640px;
    }
    .col-2 {
        width: 50%;
        margin-bottom: 20px;
    }
}
@media (max-width: 642px) {
    .container {
        width: 540px;
    }
}
@media (max-width: 540px) {
    .container {
        width: 320px;
    }
    .col-2 {
        width: 100%;
        margin-bottom: 15px;
    }
}